<% offset = get_offset %>

<% (@comments.length - offset).times do |i| %>
  <% j = 0 %>
  <% unless @appending_reply %>
    <div class="comment-chain" data-chain-id="<%= @comments[i].id %>">
  <% end %>
  <% merged_comments = merge_comments(@comments[i]) %>
  <% merged_comments.each do |comment| %>
    <div class="comment" data-controller="comments">
      <div class="comment-main">
        <div class="comment-top">
          <div class="comment-header">
            <div class="comment-user">
              <%= link_to comment.user do %>
                <%= comment.user.name %>
              <% end %>
            </div>
            <div class="comment-date">
              <%= comment.created_at %>
              <%= comment.id %>
            </div>
          </div>
          <div class="comment-body">
            <%= comment.body %>
          </div>
        </div>
        <div class="comment-bottom">
          <div class="likes-dislikes">
            <div>
              <%= link_to likes_path(liked: true, likable_id: comment.id,
                  likable_type: 'Comment'), class: 'likes', method: 'post' do
              %>
                <i class='fa fa-thumbs-up'></i>
              <% end %>
              <span class="likes-count"><%= comment.likes.length %></span>
            </div>
            <div>
              <%= link_to likes_path(liked: false, likable_id: comment.id,
                  likable_type: 'Comment'), class: 'dislikes', method: 'post' do
              %>
                <i class='fa fa-thumbs-down'></i>
              <% end %>
              <span class="dislikes-count"><%= comment.dislikes.length %></span>
            </div>
          </div>
        </div>
      </div>
      <%= form_with url: comments_path(post_id: comment.post_id),
          html: {class: 'reply-form', style: 'display:none;',
          data: {comments_controller: 'reply-form'}} do |f|
      %>
        <% comment_id = parent_comment_id(comment) %>
        <%= f.hidden_field :comment_id, value: comment_id%>
        <%= f.text_area :body, placeholder: 'Write a reply...',
              data: {action: 'keyup->comments#submit',
                     comments_target: 'form-field'}
        %>
        <%= f.submit 'Submit', style: 'display:none;',
              data: {comments_target: 'submit-button'}
        %>
      <% end %>
      <%= comment_options %>
    </div>
    <% j += 1%>
    <% if j == 1 && !@appending_reply %>
      <%= get_replies_container %>
    <% end %>
  <% end %>
  <% unless @appending_reply %>
      </div><%# closes replies container %>
  <% end %>
  <% if @posts %>
    <div class="show-replies" data-action="click->posts#expandReplies">
      <% unless @comments[i].replies.none? %>
        <%= "#{@comments[i].replies.last.user.name} replied" %>
        <%= " · " %>
        <%= reply_count_message(@comments[i].replies, i) %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
