<% unless @appending_single_comment || @appending_single_reply %>
  <% if @pagy_c %>
    <div data-posts-target="commentsPagination" style="display:none">
      <%== pagy_nav(@pagy_c) %>
    </div>
    <% unless @pagy_c.page == @pagy_c.last %>
      <span class="previous-comments-button"
            data-action="click->posts#loadMoreComments">
        <%= "Load #{next_comments_count(@pagy_c)} more comments" %>
      </span>
    <% end %>
  <% end %>
<% end %>

<% @replies ? entries = @replies : entries = @comments.reverse %>

<% entries.length.times do |i| %>
  <% j = 0 %>
  <% unless @appending_single_reply || @replies %>
    <div class="comment-chain" data-chain-id="<%= entries[i].id %>">
  <% end %>
  <% merged_comments = merge_comments(entries[i]) %>
  <% merged_comments.each do |comment| %>
    <div class="comment" data-controller="comments">
      <div class="comment-main">
        <div class="comment-top">
          <div class="comment-header">
            <div class="comment-user">
              <%= link_to comment.user do %>
                <%= comment.user.name %>
              <% end %>
            </div>
            <div class="comment-date">
              <%= comment.created_at %>
              <%= comment.id %>
            </div>
          </div>
          <div class="comment-body">
            <%= comment.body %>
          </div>
        </div>
        <div class="comment-bottom">
          <%== likes_dislikes_container(comment) %>
            <div class="likes">
              <%= button_to likes_path(liked: true, likable_id: comment.id,
                  likable_type: 'Comment'), class: 'like-button',
                  method: 'post', data: {action: 'click->comments#like'} do
              %>
                <i class='fa fa-thumbs-up'></i>
              <% end %>
              <span class="likes-count"><%= comment.likes.length %></span>
            </div>
            <div class="dislikes">
              <%= button_to likes_path(liked: false, likable_id: comment.id,
                  likable_type: 'Comment'), class: 'dislike-button',
                  method: 'post', data: {action: 'click->comments#dislike'} do
              %>
                <i class='fa fa-thumbs-down'></i>
              <% end %>
              <span class="dislikes-count">
                <%= comment.dislikes.length %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <%= form_with url: comments_path(post_id: comment.post_id),
          html: {class: 'reply-form', style: 'display:none;',
          data: {comments_controller: 'reply-form'}} do |f|
      %>
        <% comment_id = parent_comment_id(comment) %>
        <%= f.hidden_field :comment_id, value: comment_id%>
        <%= f.text_area :body, placeholder: 'Write a reply...',
              data: {action: 'keyup->comments#submit',
                    comments_target: 'form-field'}
        %>
        <%= f.submit 'Submit', style: 'display:none;',
              data: {comments_target: 'submit-button'}
        %>
      <% end %>
      <%= comment_options %>
    <% j += 1%>
    <% if j > 1 %>
      </div><%# close reply %>
    <% elsif j == 1 && !@appending_single_reply && !@replies %>
      <%= get_replies_container %>
    <% end %>
  <% end %>
  <% unless @appending_single_reply || @replies %>
    </div><%# close replies container %>
    <% if entries[i + 1] == nil && replies_to_load?(merged_comments[0]) %>
      <%= more_replies_container(merged_comments[0]) %>
    <% end %>
  <% end %>
    </div><%# close comment %>
  <% if @posts %>
    <div class="show-replies" data-action="click->posts#expandReplies">
      <% unless entries[i].replies.none? %>
        <%= "#{entries[i].replies.last.user.name} replied" %>
        <%= " · " %>
        <%= reply_count_message(entries[i].replies, i) %>
      <% end %>
    </div>
  <% end %>
  </div><%# close comment chain %>
<% end %>
