<%= content_for :top_content do %>
  <div id="user-profile">
    <div id="profile-pic"><%= image_tag @user.gravatar_url %></div>
    <div id="profile-name"><%= @user.name %></div>
    <%# option to show email depending on user settings %>
  </div>
<% end %>

<div id="add-friend-button">
  <% unless current_user.user_is_self?(@user.id) ||
            current_user.friendship_already_exists?(@user.id) %>
    <%= button_to 'Add Friend', friendships_path(friend_id: @user.id) %>
  <% end %>
</div>

<div id="posts-container"
     data-controller="infinite-scroll"
     data-action="scroll@window->infinite-scroll#scroll">
  <div data-infinite-scroll-target="entries">
    <%= render 'posts/posts_list' %>
  </div>
</div>

<%# show forum for creating new posts on user's timeline %>
<%# only allow user to post on their own timeline %>
<%# other users can comment %>
<%# posts show post content, author, comments, likes %>
<%# posts have tags %>
<%# create new tag if tag does not exist %>
