<div id="posts-container">
  <% @posts.each do |post| %>
    <div class="post" data-controller="posts">

      <div class="post-main">
        <div class="post-header">
          <div class="post-user">
            <%= link_to post.user do %>
              <%= post.user.name %>
            <% end %>
          </div>
          <div class="post-date">
            <%= post.created_at %>
          </div>
        </div>
        <div class="post-body">
          <%= post.body %>
        </div>
      </div>

      <div class="post-sub">
        <div class="likes-dislikes">
          <div class="likes">
            <%= post.likes.length %>
          </div>
          <div class="dislikes">
            <%= post.dislikes.length %>
          </div>
        </div>
        <div class="comments-indicator" data-action="click->posts#toggleComments">
          <% if post.comments.any? %>
            <%= "#{post.comments.length + post.replies.length} Comments" %>
          <% end%>
        </div>
      </div>

      <div class="post-options">
        <span>Comment</span><span>Share</span>
      </div>

      <section class="comment-section" data-comment-section-id="<%= post.id %>">
        <% unloaded_comments_count = post.comments.length - 1 %>
        <% if post.comments.length > 1 %>
          <%= link_to "View #{unloaded_comments_count} previous comments",
              section_post_comments_path(post_id: post.id,
              comment_count: unloaded_comments_count), class: 'show-comments',
              data: {comment_count: unloaded_comments_count}, remote: true
          %>
        <% end %>
        <% if post.comments.any?%>
          <% @comments = preview_comment(post.comments) %>
          <%= render 'comments/section' %>
        <% end %>
      </section>

      <div class="reply-bar">
        <%= form_with url: "posts/#{post.id}/comments", method: 'post' do |f| %>
          <%= f.text_area :body, placeholder: 'Write a comment...',
              data: {action: 'keyup->posts#submit',
                     posts_target: 'form-field'}
          %>
          <%= f.submit 'Submit Comment', style: 'display:none;',
              data: { posts_target: 'submit-button' }
          %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>
