  <% @posts.each do |post| %>
    <article class="post" data-controller="posts">
      <div class="post-main">
        <div class="post-header">
          <div class="post-user">
            <%= link_to post.user do %>
              <%= post.user.name %>
            <% end %>
          </div>
          <div class="post-date">
            <%= post.created_at %>
          </div>
        </div>
        <div class="post-body">
          <%= post.body %>
        </div>
      </div>
      <div class="post-sub">
        <%== likes_dislikes_container(post) %>
          <div class="likes">
            <%= button_to(
                  likes_path(liked: true, likable_id: post.id,
                  likable_type: 'Post'),
                  class: 'like-button',
                  method: 'post',
                  data: {action: 'click->posts#like'}) do
            %>
              <i class='fa fa-thumbs-up'></i>
            <% end %>
            <span class="likes-count"><%= post.likes.length %></span>
          </div>
          <div class="dislikes">
            <%= button_to(
                  likes_path(liked: false, likable_id: post.id,
                  likable_type: 'Post'), class: 'dislike-button',
                  method: 'post',
                  data: {action: 'click->posts#dislike'}) do
            %>
              <i class='fa fa-thumbs-down'></i>
            <% end %>
            <span class="dislikes-count"><%= post.dislikes.length %></span>
          </div>
        </div>
        <div class="comments-indicator"
             data-action="click->posts#toggleComments">
          <% if post.comments.any? %>
            <%= "#{post.comments.length + post.replies.length} Comments" %>
          <% end%>
        </div>
      </div>
      <div class="post-options">
        <span>Comment</span><span>Share</span>
      </div>
      <section class="comment-section"
               data-comment-section-id="<%= post.id %>"
               data-posts-target="commentSection">
        <% unloaded_comments_count = get_unloaded_comments_count(post) %>
        <% if post.comments.length > 1 %>
          <%= link_to(
                "View #{unloaded_comments_count} previous comments",
                section_comments_path(post_id: post.id,
                comment_count: unloaded_comments_count),
                class: 'show-comments',
                data: {comment_count: unloaded_comments_count},
                remote: true)
          %>
        <% end %>
        <% if post.comments.any? %>
          <% @comments = preview_comment(post.comments) %>
          <%= render 'comments/section' %>
        <% end %>
      </section>
      <div class="reply-bar">
        <%= form_with url: comments_path(post_id: post.id) do |f| %>
          <%= f.text_area :body, placeholder: 'Write a comment...',
              data: {action: 'keyup->posts#submit',
                    posts_target: 'form-field'}
          %>
          <%= f.submit 'Submit Comment', style: 'display:none;',
              data: { posts_target: 'submit-button' }
          %>
        <% end %>
      </div>
    </article>
  <% end %>

<div data-infinite-scroll-target="postsPagination" style="display:none">
  <%== pagy_nav(@pagy) %>
</div>
