<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% else %>
      <%# alternative top bar %>
    <% end %>

    <div id="top-content">
      <%= yield :top_content %>
      <%= render 'posts/posts_form' if @can_post %>
    </div>

    <div id="center-content">
      <%= query_diet_widget(bad_count: 30, bad_time: 100) if Rails.env.development? %>
      <%= yield %>
    </div>
  </body>
</html>
