<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# add top menu (navbar) %>
    <%# show notifications on the top right %>
    <%= yield %>
  </body>
</html>
